@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap");
body nav {
  background-color: black; }

.type-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100; }

.type-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.type-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.type-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.type-extraBold {
  font-family: "Poppins", sans-serif;
  font-weight: 800; }

.text-xsm {
  font-size: 10px; }

.text-sm {
  font-size: 16px; }

.text-md {
  font-size: 20px; }

.text-lg {
  font-size: 45px; }

.text-xlg {
  font-size: 60px; }

.nav-item ion-icon {
  font-size: 1.5rem; }

.texto {
  position: relative;
  padding-left: 1rem; }
  .texto:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 1px;
    left: 0;
    top: -10px;
    background: #53f5ed; }

.btn-dark {
  background-color: black;
  border-color: black; }
  .btn-dark:hover {
    background-color: black;
    border-color: black; }
  .btn-dark:active {
    background-color: black !important;
    border-color: black !important; }

.btn-dark.focus,
.btn-dark:focus {
  background-color: black !important;
  border-color: black !important; }

.bg-dark {
  background-color: black !important; }

.btn-primario {
  padding: 18px 112px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #f8b200;
  box-shadow: 7px 11px 10px -6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black; }
  .btn-primario:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    color: black; }

.btn-secundario {
  padding: 18px 112px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #f8b200;
  box-shadow: 7px 11px 10px -6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  background-color: #05ccc2; }
  .btn-secundario:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    color: black; }

.modalMenu .close {
  float: right;
  font-size: 2.5rem;
  color: #f8f9fa;
  text-shadow: 0 1px 0 #fff; }
  .modalMenu .close:hover {
    color: #fff; }
  .modalMenu .close:focus {
    outline: none; }

.modal-content a {
  color: #f8f9fa;
  text-decoration: none;
  background-color: transparent; }

.banner {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh; }

.wa a img {
  width: 50px;
  position: fixed;
  bottom: 116px;
  right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%; }

/* __________________________FLETES ________________________*/
.bannerFletes {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  background-image: url(../img/bannerfletes.jpg);
  padding-bottom: 25vh; }

.text-orange {
  color: #f8b200; }

.modalMedidas .modal-body img {
  width: 100%; }

.modalMedidas .modal-header {
  border: none; }

.modalMedidas .close:focus {
  outline: none; }

.btn-primary {
  background-color: #f8b200;
  border-color: black;
  color: black; }
  .btn-primary:focus {
    outline: none !important;
    background-color: #f8b200;
    box-shadow: none !important;
    border-color: black; }
  .btn-primary:hover {
    background-color: #eec357;
    color: black;
    border-color: black; }
  .btn-primary:active {
    background-color: #f8b200 !important;
    border-color: black !important;
    color: black !important; }

.card {
  width: 18rem !important;
  height: 320px !important; }

.textoPagos {
  padding-top: 50px;
  margin: 0 30px; }

.imgTarjetas {
  margin: 0 20px; }

.bannerPagos img {
  width: 500px;
  height: auto; }

.logoSecundario {
  width: 100%;
  height: auto; }

.logo {
  height: 80px;
  width: 240px;
  position: relative;
  margin: 10px auto; }
  .logo img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 100%; }

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  background-color: black;
  width: 100%; }

/* ______________________ MUDANZAS ____________________________*/
.bannerMudanza {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  background-image: url(../img/bannerMudanzas.jpg);
  padding-bottom: 25vh;
  background-position: top; }

.btn-secondary {
  background-color: #05ccc2;
  border-color: black;
  color: black; }
  .btn-secondary:focus {
    outline: none !important;
    background-color: #05ccc2;
    box-shadow: none !important;
    border-color: black; }
  .btn-secondary:hover {
    background-color: #53f5ed;
    color: black;
    border-color: black; }
  .btn-secondary:active {
    background-color: #f8b200 !important;
    border-color: black !important;
    color: black !important; }

.text-blue {
  color: #05ccc2; }

.imgMudanza {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: auto; }

.bannerFormularioMudanza {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  padding: 0 1;
  background-position: top;
  background-image: url(../img/bannerContactos.jpg); }
  .bannerFormularioMudanza .form-group {
    width: 40%;
    margin-left: 400px; }
  .bannerFormularioMudanza .form-control:focus {
    background-color: #fff;
    border-color: #05ccc2;
    box-shadow: none; }
  .bannerFormularioMudanza .btn-danger {
    color: #fff;
    background-color: #05ccc2;
    border-color: #05ccc2;
    width: 539px;
    margin-bottom: 18px; }
    .bannerFormularioMudanza .btn-danger:hover {
      background-color: #fff;
      color: black;
      border-color: #05ccc2; }
    .bannerFormularioMudanza .btn-danger:focus {
      background-color: #53f5ed !important;
      border-color: #05ccc2 !important;
      box-shadow: none !important; }
    .bannerFormularioMudanza .btn-danger:visited {
      background-color: #53f5ed !important;
      border-color: #05ccc2 !important; }

.btn-contacto {
  padding: 18px 112px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #f8b200;
  box-shadow: 7px 11px 10px -6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  padding: 18px 50px;
  margin-left: 185px;
  background-color: #05ccc2; }
  .btn-contacto:hover {
    background-color: #53f5ed; }

/* __________________________ NOSOTROS__________________________*/
.bannerEmpresa {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  background-image: url(../img/bannerEmpresas.jpg);
  padding-bottom: 25vh;
  background-position: top; }

.imgEmpresa {
  width: 700px;
  height: auto;
  margin-left: 174px; }

.bannerFormulario {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  padding: 0 1;
  background-position: top;
  background-image: url(../img/bannerContactos.jpg); }
  .bannerFormulario .form-group {
    width: 40%;
    margin-left: 400px; }
  .bannerFormulario .form-control:focus {
    background-color: #fff;
    border-color: #f8b200;
    box-shadow: none; }
  .bannerFormulario .btn-danger {
    color: #fff;
    background-color: #f8b200;
    border-color: #f8b200;
    width: 539px;
    margin-bottom: 18px; }
    .bannerFormulario .btn-danger:hover {
      background-color: #fff;
      color: black;
      border-color: #f8b200; }
    .bannerFormulario .btn-danger:focus {
      background-color: #eec357 !important;
      border-color: #f8b200 !important;
      box-shadow: none !important; }
    .bannerFormulario .btn-danger:visited {
      background-color: #eec357 !important;
      border-color: #f8b200 !important; }

/* __________________________ CONTACTO__________________________*/
.bannerContacto {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  background-image: url(../img/bannerContactos.jpg);
  padding-bottom: 25vh; }

.bannerFormularioContacto {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  background-image: none;
  background-color: #e4e3e3;
  padding-bottom: 25vh;
  background-position: top;
  box-shadow: none;
  padding: 0 1; }
  .bannerFormularioContacto .form-group {
    width: 40%;
    margin-left: 400px; }
  .bannerFormularioContacto .form-control:focus {
    background-color: #eec357;
    border-color: black;
    box-shadow: none; }
  .bannerFormularioContacto .btn-danger {
    color: #eec357;
    background-color: black;
    border-color: black;
    width: 539px;
    margin-bottom: 18px; }
    .bannerFormularioContacto .btn-danger:hover {
      background-color: #eec357;
      color: black;
      border-color: black; }
    .bannerFormularioContacto .btn-danger:focus {
      background-color: #242323 !important;
      border-color: black !important;
      box-shadow: none !important; }
    .bannerFormularioContacto .btn-danger:visited {
      background-color: #242323 !important;
      border-color: black !important; }

.logosForm ion-icon {
  font-size: 3rem;
  padding: 0 10px;
  text-decoration: none;
  color: black; }
  .logosForm ion-icon:hover {
    background-color: white;
    border-radius: 3rem; }

.logosForm a:hover {
  text-decoration: none; }

footer {
  background-color: black;
  height: 220px; }
  footer ul {
    list-style: none;
    padding-left: 50rem; }
  footer a,
  footer a:hover {
    text-decoration: none;
    color: white;
    margin-left: 10px; }
  footer ion-icon {
    text-decoration: none;
    color: #53f5ed;
    font-size: 2rem;
    margin-left: 200px;
    margin-bottom: -10px;
    margin-top: 50px; }

/*______________________________ MOBILE____________________________*/
@media all and (max-width: 380px) {
  footer {
    height: 280px;
    display: flex;
    flex-direction: column; }
  footer ion-icon {
    text-decoration: none;
    color: #53f5ed;
    font-size: 1rem;
    margin-left: 305px;
    margin-bottom: -33px;
    margin-top: 44px; }
  footer .text-sm {
    font-size: 7px; }
  .banner,
  .bannerFletes,
  .bannerFormulario,
  .bannerFormularioMudanza,
  .bannerMudanza {
    padding-top: 1rem;
    padding-bottom: 0rem;
    height: 50%; }
  .bannerFormularioContacto {
    padding-top: 1rem;
    padding-bottom: 0rem;
    height: 100%; }
  .container {
    padding-right: 0px;
    padding-left: 0; }
  .container p {
    font-size: 14px; }
  .container h1 {
    font-size: 28px; }
  .container .type-bold {
    font-size: 12px; }
  .btn-primario,
  .btn-secundario {
    margin-left: 36px;
    margin-top: 19px;
    padding: 5px 70px;
    display: flex;
    width: inherit; }
  .wa a img {
    width: 40px;
    position: fixed;
    bottom: 270px;
    right: 29px; }
  .text-lg {
    margin-top: 10px;
    font-size: 28px; }
  .d-flex {
    flex-direction: column; }
  .pl-5,
  .px-5 {
    padding-left: 1rem !important; }
  .bannerPagos {
    margin-bottom: 7rem; }
  .textoPagos p {
    font-size: 14px; }
  .imgTarjetas img {
    width: 100%; }
  .logoSecundario {
    margin-bottom: 10px; }
  .box {
    margin-bottom: 10px; }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 127px; }
  .carousel-item img {
    width: 100%; }
  .bannerFormulario .btn-danger {
    color: #fff;
    background-color: #f8b200;
    border-color: #f8b200;
    width: 171px;
    margin-bottom: 8px; }
  .bannerFormularioMudanza .btn-danger {
    color: #fff;
    background-color: #05ccc2;
    border-color: #05ccc2;
    width: 171px;
    margin-bottom: 8px; }
  .bannerFormulario .form-group,
  .bannerFormularioMudanza .form-group,
  .bannerFormularioContacto .form-group {
    width: 63%; }
  .bannerFormularioContacto {
    margin-top: 0; }
  .bannerFormularioContacto .btn-danger {
    color: #eec357;
    background-color: black;
    border-color: black;
    margin-bottom: 18px;
    width: 172px; }
  .logosForm ion-icon {
    font-size: 2rem; }
  .col-4 {
    margin: 20px 0 80px; }
  .imgMudanza {
    width: 99%;
    height: auto; }
  .ml-5,
  .mx-5 {
    margin-left: 0 !important; }
  .text-xlg {
    font-size: 28px; }
  .text-md {
    font-size: 14px; }
  .imgEmpresa {
    width: 100%;
    margin: 0; }
  iframe {
    width: 95%; }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 82px; } }
