@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&family=Work+Sans:wght@300;400&display=swap");
body nav {
  background-color: black; }

.btn-primario {
  padding: 18px 112px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #ffbc13;
  box-shadow: 7px 11px 10px -6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black; }
  .btn-primario:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    color: black; }

.btn-secundario {
  padding: 18px 112px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #ffbc13;
  box-shadow: 7px 11px 10px -6px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  background-color: #05ccc2; }
  .btn-secundario:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    color: black; }

.modal-content a {
  color: #f8f9fa;
  text-decoration: none;
  background-color: transparent; }

.banner {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 15px; }

.bannerPagos {
  display: flex; }

.textoPagos {
  padding-top: 50px;
  margin: 0 300px; }

.imgTarjetas {
  margin: 0 20px; }

.bannerPagos img {
  width: 500px;
  height: auto; }

.logoSecundario {
  width: 100%;
  height: auto; }

.logo {
  height: 80px;
  width: 240px;
  position: relative;
  margin: 10px auto; }
  .logo img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 100%; }

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  background-color: black;
  width: 100%; }

.wa a img {
  width: 50px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%; }

/* __________________________FLETES ________________________*/
.bannerFletes {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url(../img/cajaoscura.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 15px;
  background-image: url(../img/Fletes1.png);
  background-position: top;
  padding-bottom: 18rem; }

.text-orange {
  color: #ffbc13; }
