body nav {
	background-color: $fondoNegro;
}

@each $k, $v in $weight {
	.type-#{$k} {
		font-family: $family;
		font-weight: $v;
	}
}
@each $k, $v in $sizes {
	.text-#{$k} {
		font-size: $v;
	}
}
.nav-item {
	ion-icon {
		font-size: 1.5rem;
	}
}

.text-white:hover {
	color: $colorCeleste !important;
}
.texto {
	position: relative;
	padding-left: 1rem;
	&:before {
		content: '';
		position: absolute;
		height: 40px;
		width: 1px;
		left: 0;
		top: -10px;
		background: $colorCelesteClaro;
	}
}
.btn-dark {
	background-color: $colorNegro;
	border-color: $colorNegro;

	&:hover {
		background-color: $colorNegro;
		border-color: $colorNegro;
	}
	&:active {
		background-color: $colorNegro !important;
		border-color: $colorNegro !important;
	}
}
.btn-dark.focus,
.btn-dark:focus {
	background-color: $colorNegro !important;
	border-color: $colorNegro !important;
}

.bg-dark {
	background-color: $colorNegro !important;
}
.btn-primario {
	@include boton;
	&:hover {
		background-color: $colorBlanco;
		color: $colorNegro;
		text-decoration: none;
		color: $colorNegro;
	}
}

.btn-secundario {
	@include boton;
	background-color: $colorCeleste;
	&:hover {
		background-color: $colorBlanco;
		color: $colorNegro;
		text-decoration: none;
		color: $colorNegro;
	}
}
.modalMenu {
	.close {
		float: right;
		font-size: 2.5rem;
		color: #fff;
		text-shadow: 0 1px 0 #fff;

		&:hover {
			color: $colorCeleste;
		}
		&:focus {
			outline: none;
		}
	}
}
.modal-content a {
	color: #f8f9fa;
	text-decoration: none;
	background-color: transparent;
}

.banner {
	@include banner;
}

.wa a img {
	width: 50px;
	position: fixed;
	bottom: 116px;
	right: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

/* __________________________FLETES ________________________*/

.bannerFletes {
	@include banner;
	background-image: url(../img/bannerfletes.jpg);
	padding-bottom: 25vh;
}

.text-orange {
	color: $colorNaranja;
}

.modalMedidas {
	.modal-body {
		img {
			width: 100%;
		}
	}
	.modal-header {
		border: none;
	}
	.close:focus {
		outline: none;
	}
}
.btn-primary {
	background-color: $colorNaranja;
	border-color: $colorNegro;
	color: $colorNegro;
	&:focus {
		outline: none !important;
		background-color: $colorNaranja;
		box-shadow: none !important;
		border-color: $colorNegro;
	}
	&:hover {
		background-color: $colorNaranjaClaro;
		color: $colorNegro;
		border-color: $colorNegro;
	}
	&:active {
		background-color: $colorNaranja !important;
		border-color: $colorNegro !important;
		color: $colorNegro !important;
	}
}
.card {
	width: 18rem !important;
	height: 320px !important;
}
.textoPagos {
	padding-top: 50px;
	margin: 0 30px;
}
.imgTarjetas {
	margin: 0 20px;
}
.bannerPagos img {
	width: 500px;
	height: auto;
}

.logoSecundario {
	width: 100%;
	height: auto;
}
.logo {
	height: 80px;
	width: 240px;
	position: relative;
	margin: 10px auto;
	img {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		max-width: 100%;
	}
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 8px;
	background-color: $colorNegro;
	width: 100%;
}

/* ______________________ MUDANZAS ____________________________*/
.bannerMudanza {
	@include banner;
	background-image: url(../img/bannerMudanzas.jpg);
	padding-bottom: 25vh;
	background-position: top;
}
.btn-secondary {
	background-color: $colorCeleste;
	border-color: $colorNegro;
	color: $colorNegro;
	&:focus {
		outline: none !important;
		background-color: $colorCeleste;
		box-shadow: none !important;
		border-color: $colorNegro;
	}
	&:hover {
		background-color: $colorCelesteClaro;
		color: $colorNegro;
		border-color: $colorNegro;
	}
	&:active {
		background-color: $colorNaranja !important;
		border-color: $colorNegro !important;
		color: $colorNegro !important;
	}
}

.text-blue {
	color: $colorCeleste;
}

.imgMudanza {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.bannerFormularioMudanza {
	@include banner;
	padding: 0 1;
	background-position: top;
	background-image: url(../img/bannerContactos.jpg);
	.form-group {
		width: 40%;
		margin-left: 400px;
	}
	.form-control:focus {
		background-color: #fff;
		border-color: $colorCeleste;
		box-shadow: none;
	}
	.btn-danger {
		color: #fff;
		background-color: $colorCeleste;
		border-color: $colorCeleste;
		width: 539px;
		margin-bottom: 18px;
		&:hover {
			background-color: #fff;
			color: $colorNegro;
			border-color: $colorCeleste;
		}
		&:focus {
			background-color: $colorCelesteClaro !important;
			border-color: $colorCeleste !important;
			box-shadow: none !important;
		}
		&:visited {
			background-color: $colorCelesteClaro !important;
			border-color: $colorCeleste !important;
		}
	}
}

.btn-contacto {
	@include boton;
	padding: 18px 50px;
	margin-left: 185px;
	background-color: $colorCeleste;
	&:hover {
		background-color: $colorCelesteClaro;
	}
}
/* __________________________ NOSOTROS__________________________*/
.bannerEmpresa {
	@include banner;
	background-image: url(../img/bannerEmpresas.jpg);
	padding-bottom: 25vh;
	background-position: top;
}

.imgEmpresa {
	width: 700px;
	height: auto;
	margin-left: 174px;
}

.bannerFormulario {
	@include banner;
	padding: 0 1;
	background-position: top;
	background-image: url(../img/bannerContactos.jpg);
	.form-group {
		width: 40%;
		margin-left: 400px;
	}
	.form-control:focus {
		background-color: #fff;
		border-color: $colorNaranja;
		box-shadow: none;
	}
	.btn-danger {
		color: #fff;
		background-color: $colorNaranja;
		border-color: $colorNaranja;
		width: 539px;
		margin-bottom: 18px;
		&:hover {
			background-color: #fff;
			color: $colorNegro;
			border-color: $colorNaranja;
		}
		&:focus {
			background-color: $colorNaranjaClaro !important;
			border-color: $colorNaranja !important;
			box-shadow: none !important;
		}
		&:visited {
			background-color: $colorNaranjaClaro !important;
			border-color: $colorNaranja !important;
		}
	}
}

/* __________________________ CONTACTO__________________________*/
.bannerContacto {
	@include banner;
	background-image: url(../img/bannerContactos.jpg);
	padding-bottom: 25vh;
}
.bannerFormularioContacto {
	@include banner;
	background-image: none;
	background-color: rgb(228, 227, 227);
	padding-bottom: 25vh;
	background-position: top;
	box-shadow: none;
	padding: 0 1;
	.form-group {
		width: 40%;
		margin-left: 400px;
	}
	.form-control:focus {
		background-color: $colorNaranjaClaro;
		border-color: $colorNegro;
		box-shadow: none;
	}
	.btn-danger {
		color: $colorNaranjaClaro;
		background-color: $colorNegro;
		border-color: $colorNegro;
		width: 539px;
		margin-bottom: 18px;
		&:hover {
			background-color: $colorNaranjaClaro;
			color: $colorNegro;
			border-color: $colorNegro;
		}
		&:focus {
			background-color: rgb(36, 35, 35) !important;
			border-color: $colorNegro !important;
			box-shadow: none !important;
		}
		&:visited {
			background-color: rgb(36, 35, 35) !important;
			border-color: $colorNegro !important;
		}
	}
}
.logosForm ion-icon {
	font-size: 3rem;
	padding: 0 10px;
	text-decoration: none;
	color: $colorNegro;
	&:hover {
		background-color: $colorBlanco;
		border-radius: 3rem;
	}
}
.logosForm a:hover {
	text-decoration: none;
}
footer {
	background-color: $colorNegro;
	height: 220px;
	ul {
		list-style: none;
		padding-left: 50rem;
	}
	a,
	a:hover {
		text-decoration: none;
		color: $colorBlanco;
		margin-left: 10px;
	}
	ion-icon {
		text-decoration: none;
		color: $colorCelesteClaro;
		font-size: 2rem;
		margin-left: 200px;
		margin-bottom: -10px;
		margin-top: 50px;
	}
}

/*______________________________ MOBILE____________________________*/

@media all and (max-width: 380px) {
	footer {
		height: 280px;
		display: flex;
		flex-direction: column;
	}
	footer ion-icon {
		text-decoration: none;
		color: #53f5ed;
		font-size: 1rem;
		margin-left: 305px;
		margin-bottom: -33px;
		margin-top: 44px;
	}
	footer .text-sm {
		font-size: 7px;
	}

	.banner,
	.bannerFletes,
	.bannerFormulario,
	.bannerFormularioMudanza,
	.bannerMudanza {
		padding-top: 1rem;
		padding-bottom: 0rem;
		height: 50%;
	}
	.bannerFormularioContacto {
		padding-top: 1rem;
		padding-bottom: 0rem;
		height: 100%;
	}
	.container {
		padding-right: 0px;
		padding-left: 0;
	}
	.container p {
		font-size: 14px;
	}
	.container h1 {
		font-size: 28px;
	}
	.container .type-bold {
		font-size: 12px;
	}
	.btn-primario,
	.btn-secundario {
		margin-left: 36px;
		margin-top: 19px;
		padding: 5px 70px;
		display: flex;
		width: inherit;
	}

	.wa a img {
		width: 40px;
		position: fixed;
		bottom: 270px;
		right: 29px;
	}

	.text-lg {
		margin-top: 10px;
		font-size: 28px;
	}
	.d-flex {
		flex-direction: column;
	}
	.pl-5,
	.px-5 {
		padding-left: 1rem !important;
	}

	.bannerPagos {
		margin-bottom: 7rem;
	}
	.textoPagos p {
		font-size: 14px;
	}
	.imgTarjetas img {
		width: 100%;
	}

	.logoSecundario {
		margin-bottom: 10px;
	}
	.box {
		margin: 0 0 10px;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 127px;
	}
	.carousel-item img {
		width: 100%;
	}
	.bannerFormulario .btn-danger {
		color: #fff;
		background-color: #f8b200;
		border-color: #f8b200;
		width: 171px;
		margin-bottom: 8px;
	}
	.bannerFormularioMudanza .btn-danger {
		color: #fff;
		background-color: $colorCeleste;
		border-color: $colorCeleste;
		width: 171px;
		margin-bottom: 8px;
	}

	.bannerFormulario .form-group,
	.bannerFormularioMudanza .form-group,
	.bannerFormularioContacto .form-group {
		width: 63%;
	}
	.bannerFormularioContacto {
		margin-top: 0;
	}

	.bannerFormularioContacto .btn-danger {
		color: #eec357;
		background-color: black;
		border-color: black;
		margin-bottom: 18px;
		width: 172px;
	}
	.logosForm ion-icon {
		font-size: 2rem;
	}
	.col-4 {
		margin: 20px 0 80px;
	}
	.imgMudanza {
		width: 99%;
		height: auto;
	}
	.ml-5,
	.mx-5 {
		margin-left: 0 !important;
	}

	.text-xlg {
		font-size: 28px;
	}
	.text-md {
		font-size: 14px;
	}
	.imgEmpresa {
		width: 100%;
		margin: 0;
	}
	iframe {
		width: 95%;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 82px;
	}
}
