$colorPrimario: grey;
$colorNegro: black;
$colorBlanco: white;
$colorNaranja: #f8b200;
$colorNaranjaClaro: #eec357;
$colorCeleste: #05ccc2;
$colorCelesteClaro: #53f5ed;
$fondoNegro: black;
$family: 'Poppins', sans-serif;

$weight: ('thin':100, 'light':300, 'regular':400, 'bold':600, 'extraBold':800);

$sizes: ('xsm':10px, 'sm':16px, 'md':20px, 'lg':45px, 'xlg':60px);
